{% extends "layout.html" %}
{% block title_block %}Home{% endblock %}

{% block nav_left_block %}


{% endblock %}

{% block nav_right_block %}
<!-- <a href="" class="btn">User's Profile</a> -->
<a href="{{ url_for('logout') }}" class="btn btn-dark">Logout</a>
{% endblock %}

{% block content_block %}

<div class="container">
	<div class="row">
		<br>

		<form id="select_date_from" method="post" action="{{ url_for('book_appointment') }}">

			<div class="form-group">
				<label for="le_apt_type">
					<h3><strong>STEP 1. Select Appointment Type</strong></h3>
				</label>
				<select id="le_apt_type" class="form-select" name="apt_type" required onchange="toggleSubSelect()">
					<option value="" disabled selected>Select appointment type here !!!</option>
					<option value="general">General health examination</option>
					<option value="driver">Driver medical examination</option>
					<option value="employment">Employment medical examination</option>
					<option value="demand">On-demand medical service</option>
				</select>
			</div>

			<div id="category_select_group" class="form-group" style="display:none;">
				<label for="le_category">
					<h3><strong>Step 1.1 Select Wanted Category</strong></h3>
				</label>
				<select id="le_category" class="form-select" name="apt_category" required disabled
					onchange="checkAvailability()">
					<option value="" disabled selected>Select category here !!!</option>
					<option value="ent">Ear, Nose and Throat (ENT)</option>
					<option value="eyes">Ophthalmology (Eyes)</option>
					<option value="neurology">Neurology</option>
				</select>
			</div>

			<!-- DATE FORMAT YYYY-MM-DD -->
			<div class="form-group">
				<label for="le_apt_date">
					<h3><strong>STEP 2. Select Date</strong></h3>
				</label>
				<input id="le_apt_date" name="apt_date" class="form-control" type="date" min="{{ min_date }}"
					max="{{ max_date }}" required onchange="checkAvailability()" />
			</div>

			<div id="" class="form-group">
				<label for="le_sesion">
					<h3><strong>STEP 3. Select Session</strong></h3>
				</label>
				<select id="le_sesion" class="form-select" name="apt_session" required>
					<option id="le_session_default" value="" disabled selected>Select session here !!!</option>
					<option id="le_morning" value="morning">Morning (7 AM - 11 AM)</option>
					<option id="le_afternoon" value="afternoon">Afternoon (1PM - 6PM)</option>
				</select>
			</div>
			<button id="submit_button" type="submit" class="btn btn-primary">Submit</button>

	</div>
</div>
{% endblock %}

{% block script_block %}
<script>
	// Function to show/hide the second select list based on the main select option
	function toggleSubSelect() {
		var apt_type_select = document.getElementById("le_apt_type");
		var category_select = document.getElementById("le_category");
		var category_select_group = document.getElementById("category_select_group");

		// Show the sub-select only when option 4 is selected
		if (apt_type_select.value == "demand") {
			category_select_group.style.display = "block";
			category_select.removeAttribute('disabled');
		} else {
			category_select_group.style.display = "none";
			category_select.setAttribute('disabled', "");
		}
		checkAvailability();
	}
	function checkAvailability() {
		console.log("changed")
		const apt_type = document.getElementById("le_apt_type").value;
		const category = document.getElementById("le_category").value;
		const apt_date = document.getElementById("le_apt_date").value;

		const le_sesion = document.getElementById("le_sesion");
		// reset session selection
		le_sesion.selectedIndex = 0

		const le_morning = document.getElementById("le_morning");
		const le_afternoon = document.getElementById("le_afternoon");

		console.log(`?apt_type=${apt_type}&category=${category}&apt_date=${apt_date}`)



		const baseUrl = window.location.origin;
		const endpoint = '/api/get_availability'
		const apiUrl = baseUrl + endpoint + `?apt_type=${apt_type}&category=${category}&apt_date=${apt_date}`;
		// const apiUrl = `https://yourapi.com/api/check-availability?itemId=${selectedValue}`;

		// Call the API to check availability
		fetch(apiUrl)
			.then(response => response.json())  // Assuming the API returns JSON
			.then(data => {
				const isMorningAvailable = data.morning;
				const isAfternoonAvailable = data.afternoon;
				const today = new Date();
				const currentHour = today.getHours();

				if (isMorningAvailable) {
					if ("{{ min_date }}" == apt_date && currentHour >= 10){
						// Check if the time has passed 10AM
						le_morning.innerHTML = "Morning (7 AM - 11 AM) Time Passed";
						le_morning.setAttribute('disabled', "");
					} else {
						le_morning.innerHTML = "Morning (7 AM - 11 AM)";
						le_morning.removeAttribute('disabled');
					}
				} else {
					le_morning.innerHTML = "Morning (7 AM - 11 AM) FULL";
					le_morning.setAttribute('disabled', "");
				}

				if (isAfternoonAvailable) {
					// Check if the time has passed 5PM 
					if ("{{ min_date }}" == apt_date && currentHour >= 17){
						le_afternoon.innerHTML = "Afternoon (1PM - 6PM) Time Passed";
						le_afternoon.setAttribute('disabled', "");
					} else {
						le_afternoon.innerHTML = "Afternoon (1PM - 6PM)";
						le_afternoon.removeAttribute('disabled');
					}
					
				} else {
					le_afternoon.innerHTML = "Afternoon (1PM - 6PM) FULL";
					le_afternoon.setAttribute('disabled', "");
				}
			})
			.catch(error => {
				console.error('Error:', error);
			});
	}

</script>
{% endblock %}