{% extends "layout.html" %}
{% block title_block %}Medical Records{% endblock %}

{% block nav_left_block %}
<a href="{{ url_for('book_appointment') }}" class="btn">Book Appointment 🤒</a>
<a href="{{ url_for('user_appointments') }}" class="btn">View Appointments 📅</a>
<!-- <a href="{{ url_for('user_records') }}" class="btn">Medical Records 🧾</a> -->
{% endblock %}

{% block nav_right_block %}
<a href="{{ url_for('profile') }}" class="btn">👤 User's Profile</a>
<a href="{{ url_for('logout') }}" class="btn btn-dark">Logout</a>
{% endblock %}

{% block content_block %}
RECORDS
{% endblock %}

{% block script_block %}

{% endblock %}
